# Backend Configuration
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/cms_db
JWT_SECRET=super_secret_jwt_key_change_me_in_production
JWT_EXPIRES_IN=7d

# Default Admin User Seeding Configuration
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@cms.com
ADMIN_PASSWORD=adminpassword123

# Admin Frontend Configuration
VITE_API_URL=https://omni-cms-backend.onrender.com/api/v1

# Public Frontend Configuration
VITE_PUBLIC_API_URL=https://omni-cms-backend.onrender.com/api/v1
